<%= render 'nav' %>

    <div class="container">
      <h2>Welcome!</h2>
      <p>Start your parking here</p>
      <%= render 'searchbar' %>
      <!-- <%= link_to "Searching nearby...",parking_path %> -->
    </div>
